.contenedorTexto {
    width: 50%;
    /* border: blueviolet 2px solid; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0px;
    gap: 5px;
}