*{
font-family: Poppins, sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
}


#name{
    margin-bottom: 4vh;
}
.image{
    width: 77px;
    height: 77px;
    margin-top: 10px;
}
.form-container{
    height: 80vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5vh;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 18vw;
    margin-top: 2vh;
}
.author-input {
    font-size: 16px;
    padding: 8px;
    margin-bottom: 15px;

  }
  
  #author-name {
    margin-top: 20px;
  }
  .author-submit-button {
    background-color: rgba(249, 115, 22, 1);
    border-radius: 50000px;
    border: none;
    color: white;
    width: 15vw;
    padding: 12px 30px;
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
  }

  .author-birthdate {
    margin-top: 10px;
  }


  input {
    border: none;
    border-bottom: 1px solid #ccc;
    background: transparent;
    outline: none;
    width: 20vw;
  }

  @media screen and (max-width: 768px) {
    .form-container {
      width: 100vw;
    }
    form {
      width: 50vw;
    }
    input {
      width: 50vw;
    }
    .author-submit-button {
      width: 40vw;
    }
  }
    
  
  