.menuButton{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50px;
    height: 40px;
    background-color: transparent;
    border: transparent 2px solid;
}