.ForTheLoveOfManga{
    color: #FFFFFF;
    width: 100%;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    display: flex;
    flex-wrap: wrap;
}

.ExploreOurVarieties{
    width: 240px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
}

.MingaLove{
    width: 119px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
    
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}

.LetsGO {
    color: #FF5722;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 95.19%;
}

.OnePeace {
    color: #FFFFFF;
    width: 109px;
    height: 23px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

.Manga{
    width: 37px;
    height: 11px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;

    /* or 11px */
    display: flex;
    align-items: center;

    color: rgba(255, 255, 255, 0.6);
}
.Luffy {
    /* width: 356px; */
    /* height: 65px; */
    width: 70%;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    
    /* or 13px */
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
}

@media (max-width:425px ) {
    .OnePeace {
        color: #FFFFFF;
        width: 100%;
        height: 23px;
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
    }
    
    .Manga{
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
    
        display: flex;
        text-align: center;
    
        color: rgba(255, 255, 255, 0.6);
    }
    .Luffy {
        /* width: 356px; */
        /* height: 65px; */
        width: 90%;
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        
        /* or 13px */
        display: flex;
        align-items: center;
        
        color: #FFFFFF;
    }
}

/* Formulario Main */
.pAlredyAccount{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #1F1F1F;
    text-align: center;
}

.pAlredyAccount>a{
    color: #F97316;
}