.bannerSeparador{
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  
  .contenedorNaranja{
    /* position: absolute; */
    width: 90%;
  
    left: calc(50% - 1258px/2);
    top: calc(50% - 265px/2 + 321.5px);
  
    background: linear-gradient(162.88deg, #FF5722 -11.37%, #F97316 73.97%);
    border-radius: 6px;
  
    display: flex;
    flex-wrap: wrap;
  }