.EncabezadoFormulario{
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logoFormulario{
    width: 50%;
}
.titleg{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
}

.titleh{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(31, 31, 31, 0.75);
}