* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.RegisterContainerGeneral {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.Register{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.ContainerFormulario{
    width: 62%;
}

.EncabezadoFormulario{
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logoFormulario{
    width: 50%;
}
.titleg{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
}

.titleh{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(31, 31, 31, 0.75);
}

.FormularioRegistro{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    gap: 10px;
}

.innerFormulario{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    border-radius: 15px;
}

.innerFormulario>legend {
    color: #F97316;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}

.inputs{
    width: 90%;
    height: 20px;
    border-radius: 15px;
    padding-left: 0.5rem;
    margin-bottom: 0.1rem;
    border: transparent;
}

.icon{
    width: 16px;
    height: 16px;
    margin-bottom: 0.5rem;
}

.pSendNotif{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #1F1F1F;
    opacity: 0.8;
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkSendNotif{
    width: 18px;
    height: 18px;
    border: 1px solid #1F1F1F;
    border-radius: 5px;
}

.SignUpButton{
    background: #F97316;
    border-radius: 10px;
    width: 100;
    height: 40px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    color: #EBEBEB;
}

.buttonSignGoogle{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EBEBEB;
    border: 1px solid #1F1F1F;
    border-radius: 10px;
}

.pGoogle{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    opacity: 0.5;
}

.pAlredyAccount{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #1F1F1F;
    text-align: center;
}

a{
    color: #F97316;
}

.ImagenRegister{
    width: 50%;
    height: 100vh;
}

.imagenTotoro{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

@media (max-width:767px ) {
    .Register{
        width: 100%;
    }
    .ImagenRegister{
        display: none;
    }
}