/* *{
    
} */

.NotFound{
    background-image: url('../../images/Background\ 1.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    text-align: center;
    width: 50%;
    height: 30%;
}